.board {
  background: lightgray;
  overflow: hidden;
  width: 240px;
  height: 240px;
}

.row {
  
}

.col {
  float: left;
  width: 15px;
  height: 15px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
}

.col[data-type=col-1] {
  background: #000;
}
.col[data-type=col-2] {
  background: #fff;
}
.col[data-type=col-3] {
  background: lightblue;
}