body {
  background-color: #159957;
  background-image: linear-gradient(120deg,#155799,#159957);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  width: 500px;
  padding: 10px;
  transform-origin: 0 0;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 10px 0;
  opacity: .7;
  color: #fff;
}

.toolbar {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 36px;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  color: hsla(0,0%,100%,.7);
  background-color: hsla(0,0%,100%,.08);
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: .3rem;
  transition: color .2s,background-color .2s,border-color .2s;
  padding: .6rem .9rem;
  font-size: .9rem;
  transition: filter .4s;
  outline: none;
}

.btn:hover {
  filter: brightness(0.8);
}

.dogs {
  background: url(@/assets/dogs.gif);
  background-size: 100% auto;
  position: absolute;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  animation: run 5s linear;
  font-size: 96px;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes run {
  from {left: 100vw;}
  to {left: -100vw}
}

.footer {
  position: absolute;
  text-align: center;
  font-size: 12px;
  opacity: .5;
  color: #fff;
  width: 100%;
  top: 100vw;
}

.footer a {
  color: inherit;
  position: relative;
  top: -10px;
}